body,
html{
    margin:0;
	padding:0;
	background-color: white;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.container{
  margin: 20px;
}
h1,p{
    color: #624cd5;
    font-weight: 600;
    text-align: center;
}
.col-md-2 #p1{
    font-size: 22px;
}
.row{
    display: flex;
    height: 400px;
    margin: 50px;
}
.row p:hover{
  text-decoration: none;
  color: crimson;
}
.col-md-1 {
    float: left;
    width: 50%;
  }
  .col-md-2{
    float: right;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* .col-md-1{
    background-image: url("../imgs/job4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 0 0 15px;
  } */
  .col-md-2{
    float: right;
  }
  .col-md-2 a{
    text-decoration: none;
    transition: all .4s;
  }
  .col-md-2 p{
    text-decoration: none;
    transition: all .4s;
  }
  .col-md-2 p:hover{
    text-decoration: none;
    transition: all .4s;
    
  }
  .col-md-2 a:hover{
    text-decoration: none;
    transition: all .4s;
}
form input{
  border: 2px solid #624cd5;
    display: block;
    padding: 10px;
    transition: all 0.5s;
    width: 50%;
    outline: none;
    background-color: #fff;
    border-radius: 10px;
    transition: all .3s;
}

form input:hover{
  transition: all 0.3s;
    border: 2px solid #ea9c14;
}
button{
  position: relative;
    color: #ffffff;
    margin: auto;
    text-align: center;
    padding: 5px;
    width: 15%;
    border-radius: 5px;
    background-color: #624cd5;
    outline: none;
    transition: all ease .5s;
    border: none;
    box-sizing: border-box;
}
  button:hover{
      background-color: #ea9c14;
      outline: none;
      cursor: pointer;
  }
  .loadin b{
    visibility: hidden;
    opacity: 0;
  }
  .loadin::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid 3px transparent;
    border-top-color: #ffffff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    animation: button-loadin-spinner 1s linear infinite;
  }
  @keyframes button-loadin-spinner{
    from{
      transform: rotate(0turn);
    }
    to{
      transform: rotate(0.20turn);
    }
    to{
      transform: rotate(0.4turn);
    }
    to{
      transform: rotate(0.6turn);
    }
    to{
      transform: rotate(0.8turn);
    }
    to{
      transform: rotate(1turn);
    }
  }
  .fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    height: auto;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  lottie-player{
    height: 500px;
    width: 600px;
    margin: auto;
  }
  #error_msg{
    display: block;
    color: red;
    text-align: justify;
    font-weight: bold;
  }
  #response{
    display: block;
    color: red;
    text-align: justify;
    font-weight: bold;
  }
    /* ----------- Apple Watch ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 272px) 
and (max-device-width: 340px)
and (-webkit-min-device-pixel-ratio: 2) {
  lottie-player{
		width: 200px;
    height: 200px;
  }
  .container{
    margin: 10px;
  }
h1,p{
    color: #624cd5;
    font-weight: 600;
    text-align: center;
}
p{
  font-size: 14px;
}
.col-md-2 #p1{
    font-size: 15px;
}
.row{
    display: block;
}
.col-md-1 {
    width: 100%;
  }
  .col-md-2{
    width: 100%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: block;
    clear: both;
  }
  .col-md-1{
    display: block;
  }
  .col-md-2{
    display: block;
  }
  .col-md-2 a{
    text-decoration: none;
    transition: all .4s;
  }
  .col-md-2 p{
    text-decoration: none;
    transition: all .4s;
  }
  .col-md-2 p:hover{
    text-decoration: none;
    transition: all .4s;
    
  }
  .col-md-2 a:hover{
    text-decoration: none;
    transition: all .4s;
  }
  form input{
      display: block;
      padding: 5px;
      border-radius: 5px;
      transition: all 0.5s;
      width: 80%;
      outline: none;
      background-color: #fff;
      border-color: #624cd5;
  }

  form input[type]{
      color: #624cd5;
  }
  button{
       position: relative;
      color: #ffffff;
      margin: auto;
      text-align: center;
      padding: 5px;
      width: 50%;
      border-radius: 5px;
      background-color: #624cd5;
      outline: none;
      transition: all .3s;
  }
  button:hover{
      background-color: #ea9c14;
      outline: none;
  }
  .fa {
    padding: 15px;
    font-size: 15px;
    width: 10px;
    height: auto;
    text-align: center;
    text-decoration: none;
    margin: 2px 1px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  body,
  html{
      margin:0;
    padding:0;
    background-color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0px;
    scroll-behavior: smooth;
  }
  .container{
    margin: 10px;
  }
h1,p{
    color: #624cd5;
    font-weight: 600;
    text-align: center;
}
p{
  font-size: 14px;
}
.col-md-2 #p1{
    font-size: 15px;
}
.row{
    display: block;
}
.col-md-1 {
    width: 100%;
  }
  .col-md-2{
    width: 100%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: block;
    clear: both;
  }
  .col-md-1{
    display: block;
  }
  .col-md-2{
    display: block;
  }
  .col-md-2 a{
    text-decoration: none;
    transition: all .4s;
  }
  .col-md-2 p{
    text-decoration: none;
    transition: all .4s;
  }
  .col-md-2 p:hover{
    text-decoration: none;
    transition: all .4s;
    
  }
  .col-md-2 a:hover{
    text-decoration: none;
    transition: all .4s;
  }
  form input{
      display: block;
      padding: 5px;
      border-radius: 5px;
      transition: all 0.5s;
      width: 80%;
      outline: none;
      background-color: #fff;
      border-color: #624cd5;
  }

  form input[type]{
      color: #624cd5;
  }
  button{
       position: relative;
      color: #ffffff;
      margin: auto;
      text-align: center;
      padding: 5px;
      width: 50%;
      border-radius: 5px;
      background-color: #624cd5;
      outline: none;
      transition: all .3s;
  }
  button:hover{
      background-color: #ea9c14;
      outline: none;
  }
  .fa {
    padding: 15px;
    font-size: 15px;
    width: 10px;
    height: auto;
    text-align: center;
    text-decoration: none;
    margin: 2px 1px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  lottie-player{
    height: auto;
    width: 200px;
    margin: auto;
  }
}
/* -----------Android----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 576px)
and (-webkit-min-device-pixel-ratio: 2) {
  body,
  html{
      margin:0;
    padding:0;
    background-color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0px;
    scroll-behavior: smooth;
  }
  .container{
    margin: 10px;
  }
h1,p{
    color: #624cd5;
    font-weight: 600;
    text-align: center;
}
p{
  font-size: 14px;
}
.col-md-2 #p1{
    font-size: 15px;
}
.row{
    display: block;
}
.col-md-1 {
    width: 100%;
  }
  .col-md-2{
    width: 100%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: block;
    clear: both;
  }
  .col-md-1{
    display: block;
  }
  .col-md-2{
    display: block;
  }
  .col-md-2 a{
    text-decoration: none;
    transition: all .4s;
  }
  .col-md-2 p{
    text-decoration: none;
    transition: all .4s;
  }
  .col-md-2 p:hover{
    text-decoration: none;
    transition: all .4s;
    
  }
  .col-md-2 a:hover{
    text-decoration: none;
    transition: all .4s;
  }
  form input{
      display: block;
      padding: 5px;
      border-radius: 10px;
      transition: all 0.5s;
      width: 80%;
      outline: none;
      background-color: #fff;
      border-color: #624cd5;
  }

  form input[type]{
      color: #624cd5;
  }
  button{
      color: #ffffff;
      margin: auto;
      text-align: center;
      padding: 5px;
      width: 50%;
      border-radius: 5px;
      background-color: #624cd5;
      outline: none;
      transition: all .3s;
  }
  button:hover{
      background-color: #ea9c14;
      outline: none;
  }
  .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 2px 1px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  lottie-player{
    height: auto;
    width: 200px;
    margin: auto;
  }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body,
    html{
        margin:0;
      padding:0;
      background-color: white;
      font-family: 'Lato', sans-serif;
      letter-spacing: 0px;
      scroll-behavior: smooth;
    }
    .container{
      margin: 10px;
    }
  h1,p{
      color: #624cd5;
      font-weight: 600;
      text-align: center;
  }
  p{
    font-size: 14px;
  }
  .col-md-2 #p1{
      font-size: 15px;
  }
  .row{
      display: block;
  }
  .col-md-1 {
      width: 100%;
    }
    .col-md-2{
      width: 100%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: block;
      clear: both;
    }
    .col-md-1{
      display: block;
    }
    .col-md-2{
      display: block;
    }
    .col-md-2 a{
      text-decoration: none;
      transition: all .4s;
    }
    .col-md-2 p{
      text-decoration: none;
      transition: all .4s;
    }
    .col-md-2 p:hover{
      text-decoration: none;
      transition: all .4s;
      
    }
    .col-md-2 a:hover{
      text-decoration: none;
      transition: all .4s;
    }
    form input{
        display: block;
        padding: 5px;
        border-radius: 5px;
        transition: all 0.5s;
        width: 80%;
        outline: none;
        background-color: #fff;
        border-color: #624cd5;
    }
  
    form input[type]{
        color: #624cd5;
    }
    button{
        color: #ffffff;
        margin: auto;
        text-align: center;
        padding: 5px;
        width: 50%;
        border-radius: 5px;
        background-color: #624cd5;
        outline: none;
        transition: all .3s;
    }
    button:hover{
        background-color: #ea9c14;
        outline: none;
    }
    .fa {
      padding: 15px;
      font-size: 15px;
      width: 15px;
      text-align: center;
      text-decoration: none;
      margin: 2px 1px;
      border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-google {
      background: #dd4b39;
      color: white;
    }
    
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    lottie-player{
      height: auto;
      width: 200px;
      margin: auto;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    body,
    html{
        margin:0;
      padding:0;
      background-color: white;
      font-family: 'Lato', sans-serif;
      letter-spacing: 0px;
      scroll-behavior: smooth;
    }
    .container{
      margin: 10px;
    }
  h1,p{
      color: #624cd5;
      font-weight: 600;
      text-align: center;
  }
  p{
    font-size: 14px;
  }
  .col-md-2 #p1{
      font-size: 15px;
  }
  .row{
      display: block;
  }
  .col-md-1 {
      width: 100%;
    }
    .col-md-2{
      width: 100%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: block;
      clear: both;
    }
    .col-md-1{
      display: block;
    }
    .col-md-2{
      display: block;
    }
    .col-md-2 a{
      text-decoration: none;
      transition: all .4s;
    }
    .col-md-2 p{
      text-decoration: none;
      transition: all .4s;
    }
    .col-md-2 p:hover{
      text-decoration: none;
      transition: all .4s;
      
    }
    .col-md-2 a:hover{
      text-decoration: none;
      transition: all .4s;
    }
    form input{
        display: block;
        padding: 5px;
        border-radius: 5px;
        transition: all 0.5s;
        width: 80%;
        outline: none;
        background-color: #fff;
        border-color: #624cd5;
    }
  
    form input[type]{
        color: #624cd5;
    }
    button{
        color: #ffffff;
        margin: auto;
        text-align: center;
        padding: 5px;
        width: 50%;
        border-radius: 5px;
        background-color: #624cd5;
        outline: none;
        transition: all .3s;
    }
    button:hover{
        background-color: #ea9c14;
        outline: none;
    }
    .fa {
      padding: 15px;
      font-size: 15px;
      width: 15px;
      text-align: center;
      text-decoration: none;
      margin: 2px 1px;
      border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-google {
      background: #dd4b39;
      color: white;
    }
    
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    lottie-player{
      height: auto;
      width: 200px;
      margin: auto;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    body,
    html{
        margin:0;
      padding:0;
      background-color: white;
      font-family: 'Lato', sans-serif;
      letter-spacing: 0px;
      scroll-behavior: smooth;
    }
    .container{
      margin: 10px;
    }
  h1,p{
      color: #624cd5;
      font-weight: 600;
      text-align: center;
  }
  .col-md-2 #p1{
      font-size: 16px;
  }
  .row{
      display: block;
  }
  .col-md-1 {
      width: 100%;
    }
    .col-md-2{
      width: 100%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: block;
      clear: both;
    }
    .col-md-1{
      display: block;
    }
    .col-md-2{
      display: block;
    }
    .col-md-2 a{
      text-decoration: none;
      transition: all .4s;
    }
    .col-md-2 p{
      text-decoration: none;
      transition: all .4s;
    }
    .col-md-2 p:hover{
      text-decoration: none;
      transition: all .4s;
      
    }
    .col-md-2 a:hover{
      text-decoration: none;
      transition: all .4s;
    }
    form input{
        display: block;
        padding: 5px;
        border-radius: 5px;
        transition: all 0.5s;
        width: 80%;
        outline: none;
        background-color: #fff;
        border-color: #624cd5;
    }
  
    form input[type]{
        color: #624cd5;
    }
    button{
        color: #ffffff;
        margin: auto;
        text-align: center;
        padding: 5px;
        width: 50%;
        border-radius: 5px;
        background-color: #624cd5;
        outline: none;
        transition: all .3s;
    }
    button:hover{
        background-color: #ea9c14;
        outline: none;
    }
    .fa {
      padding: 15px;
      font-size: 15px;
      width: 15px;
      text-align: center;
      text-decoration: none;
      margin: 2px 1px;
      border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-google {
      background: #dd4b39;
      color: white;
    }
    
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    lottie-player{
      height: auto;
      width: 300px;
      margin: auto;
    }
}
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    body,
    html{
        margin:0;
      padding:0;
      background-color: white;
      font-family: 'Lato', sans-serif;
      letter-spacing: 0px;
      scroll-behavior: smooth;
    }
    .container{
      margin: 10px;
    }
  h1,p{
      color: #624cd5;
      font-weight: 600;
      text-align: center;
  }
  .col-md-2 #p1{
      font-size: 17px;
  }
  .row{
      display: block;
  }
  .col-md-1 {
      width: 100%;
    }
    .col-md-2{
      width: 100%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: block;
      clear: both;
    }
    .col-md-1{
      display: block;
    }
    .col-md-2{
      display: block;
    }
    .col-md-2 a{
      text-decoration: none;
      transition: all .4s;
    }
    .col-md-2 p{
      text-decoration: none;
      transition: all .4s;
    }
    .col-md-2 p:hover{
      text-decoration: none;
      transition: all .4s;
      
    }
    .col-md-2 a:hover{
      text-decoration: none;
      transition: all .4s;
    }
    form input{
        display: block;
        padding: 10px;
        border-radius: 5px;
        transition: all 0.5s;
        width: 80%;
        outline: none;
        background-color: #fff;
        border-color: #624cd5;
    }
  
    form input[type]{
        color: #624cd5;
    }
    button{
        color: #ffffff;
        margin: auto;
        text-align: center;
        padding: 10px;
        width: 50%;
        border-radius: 5px;
        background-color: #624cd5;
        outline: none;
        transition: all .3s;
    }
    button:hover{
        background-color: #ea9c14;
        outline: none;
    }
    .fa {
      padding: 15px;
      font-size: 15px;
      width: 15px;
      text-align: center;
      text-decoration: none;
      margin: 10px 10px;
      border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-google {
      background: #dd4b39;
      color: white;
    }
    
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    lottie-player{
      height: auto;
      width: 300px;
      margin: auto;
    }
}
/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    body,
    html{
        margin:0;
      padding:0;
      background-color: white;
      font-family: 'Lato', sans-serif;
      letter-spacing: 0px;
      scroll-behavior: smooth;
    }
    .container{
      margin: 10px;
    }
  h1,p{
      color: #624cd5;
      font-weight: 600;
      text-align: center;
      font-size: 28px;
  }
  .col-md-2 #p1{
      font-size: 28px;
  }
  .row{
      display: block;
  }
  .col-md-1 {
      width: 100%;
    }
    .col-md-2{
      width: 100%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: block;
      clear: both;
    }
    .col-md-1{
      display: block;
    }
    .col-md-2{
      display: block;
    }
    .col-md-2 a{
      text-decoration: none;
      transition: all .4s;
    }
    .col-md-2 p{
      text-decoration: none;
      transition: all .4s;
    }
    .col-md-2 p:hover{
      text-decoration: none;
      transition: all .4s;
      
    }
    .col-md-2 a:hover{
      text-decoration: none;
      transition: all .4s;
    }
    form input{
        display: block;
        padding: 20px;
        border-radius: 15px;
        transition: all 0.5s;
        width: 60%;
        outline: none;
        background-color: #fff;
        border-color: #624cd5;
        font-size: 28px;
    }
  
    form input[type]{
        color: #624cd5;
    }
    button{
        color: #ffffff;
        margin: auto;
        text-align: center;
        padding: 20px;
        font-size: 20px;
        width: 30%;
        border-radius: 15px;
        background-color: #624cd5;
        outline: none;
        transition: all .3s;
    }
    button:hover{
        background-color: #ea9c14;
        outline: none;
    }
    .fa {
      padding: 30px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      margin: 10px 10px;
      border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-google {
      background: #dd4b39;
      color: white;
    }
    
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    lottie-player{
      height: auto;
      width: 500px;
      margin: auto;
    }
}
/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body,
    html{
        margin:0;
      padding:0;
      background-color: white;
      font-family: 'Lato', sans-serif;
      letter-spacing: 0px;
      scroll-behavior: smooth;
    }
    .container{
      margin: 10px;
    }
  h1{
      color: #624cd5;
      font-weight: 600;
      text-align: center;
      font-size: 42px;
  }
  .col-md-2 #p1{
      font-size: 30px;
  }
  .row{
      display: block;
  }
  .col-md-1 {
      width: 90%;
    }
    .col-md-2{
      width: 100%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: block;
      clear: both;
    }
    .col-md-1{
      display: block;
    }
    .col-md-2{
      display: block;
    }
    .col-md-2 a{
      text-decoration: none;
      transition: all .4s;
    }
    .col-md-2 p{
      text-decoration: none;
      transition: all .4s;
    }
    .col-md-2 p:hover{
      text-decoration: none;
      transition: all .4s;
      
    }
    .col-md-2 a:hover{
      text-decoration: none;
      transition: all .4s;
    }
    form input{
        display: block;
        padding: 20px;
        border-radius: 15px;
        transition: all 0.5s;
        width: 60%;
        outline: none;
        background-color: #fff;
        border-color: #624cd5;
        font-size: 28px;
    }
  
    form input[type]{
        color: #624cd5;
    }
    button{
        color: #ffffff;
        margin: auto;
        text-align: center;
        padding: 20px;
        font-size: 25px;
        width: 30%;
        border-radius: 15px;
        background-color: #624cd5;
        outline: none;
        transition: all .3s;
    }
    button:hover{
        background-color: #ea9c14;
        outline: none;
    }
    .fa {
      padding: 30px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      margin: 10px 10px;
      border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-google {
      background: #dd4b39;
      color: white;
    }
    
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    lottie-player{
      height: auto;
      width: 450px;
    }
  }
  /* ----------- Galaxy Tab 2 ----------- */

/* Portrait and Landscape */
@media 
(min-device-width: 800px) 
and (max-device-width: 1280px) {
  body,
  html{
      margin:0;
    padding:0;
    background-color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0px;
    scroll-behavior: smooth;
  }
  .container{
    margin: 10px;
  }
h1{
    color: #624cd5;
    font-weight: 600;
    text-align: center;
    font-size: 28px;
}
.col-md-2 #p1{
    font-size: 28px;
}
.row{
    display: block;
}
.col-md-1 {
    width: 100%;
  }
  .col-md-2{
    width: 100%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: block;
    clear: both;
  }
  .col-md-1{
    display: block;
  }
  .col-md-2{
    display: block;
  }
  .col-md-2 a{
    text-decoration: none;
    transition: all .4s;
  }
  .col-md-2 p{
    text-decoration: none;
    transition: all .4s;
  }
  .col-md-2 p:hover{
    text-decoration: none;
    transition: all .4s;
    
  }
  .col-md-2 a:hover{
    text-decoration: none;
    transition: all .4s;
  }
  form input{
      display: block;
      padding: 20px;
      border-radius: 15px;
      transition: all 0.5s;
      width: 60%;
      outline: none;
      background-color: #fff;
      border-color: #624cd5;
      font-size: 28px;
  }

  form input[type]{
      color: #624cd5;
  }
  button{
      color: #ffffff;
      margin: auto;
      text-align: center;
      padding: 20px;
      font-size: 20px;
      width: 30%;
      border-radius: 15px;
      background-color: #624cd5;
      outline: none;
      transition: all .3s;
  }
  button:hover{
      background-color: #ea9c14;
      outline: none;
  }
  .fa {
    padding: 30px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  lottie-player{
    height: auto;
    width: 500px;
    margin: auto;
  }
}
/* ----------- Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {
    body,
    html{
        margin:0;
      padding:0;
      background-color: white;
      font-family: 'Lato', sans-serif;
      letter-spacing: 0px;
      scroll-behavior: smooth;
    }
    .container{
      margin: 10px;
    }
  h1,p{
      color: #624cd5;
      font-weight: 600;
      text-align: center;
      font-size: 28px;
  }
  .col-md-2 #p1{
      font-size: 28px;
  }
  .row{
      display: block;
  }
  .col-md-1 {
      width: 100%;
    }
    .col-md-2{
      width: 100%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: block;
      clear: both;
    }
    .col-md-1{
      display: block;
    }
    .col-md-2{
      display: block;
    }
    .col-md-2 a{
      text-decoration: none;
      transition: all .4s;
    }
    .col-md-2 p{
      text-decoration: none;
      transition: all .4s;
    }
    .col-md-2 p:hover{
      text-decoration: none;
      transition: all .4s;
      
    }
    .col-md-2 a:hover{
      text-decoration: none;
      transition: all .4s;
    }
    form input{
        display: block;
        padding: 10px;
        border-radius: 15px;
        transition: all 0.5s;
        width: 50%;
        outline: none;
        background-color: #fff;
        border-color: #624cd5;
        font-size: 28px;
    }
  
    form input[type]{
        color: #624cd5;
    }
    button{
        color: #ffffff;
        margin: auto;
        text-align: center;
        padding: 10px;
        font-size: 20px;
        width: 20%;
        border-radius: 15px;
        background-color: #624cd5;
        outline: none;
        transition: all .3s;
    }
    button:hover{
        background-color: #ea9c14;
        outline: none;
    }
    .fa {
      padding: 30px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      margin: 10px 10px;
      border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-google {
      background: #dd4b39;
      color: white;
    }
    
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    lottie-player{
      height: auto;
      width: 500px;
      margin: auto;
    }
}
/* ----------- Surface Duo ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 540px) 
  and (max-device-width: 720px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .container{
      margin: 10px;
    }
  h1{
      color: #624cd5;
      font-weight: 600;
      text-align: center;
      font-size: 28px;
  }
  .col-md-2 #p1{
      font-size: 20px;
      text-align: justify;
  }
  .row{
      display: block;
  }
  
    .col-md-2{
      width: 50%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: block;
      clear: both;
    }
    .col-md-1{
      display: block;
    }
    .col-md-2{
      display: block;
    }
    .col-md-2 a{
      text-decoration: none;
      transition: all .4s;
    }
    .col-md-2 p{
      text-decoration: none;
      transition: all .4s;
    }
    .col-md-2 p:hover{
      text-decoration: none;
      transition: all .4s;
      
    }
    .col-md-2 a:hover{
      text-decoration: none;
      transition: all .4s;
    }
    form input{
        display: block;
        padding: 5px;
        border-radius: 5px;
        transition: all 0.5s;
        width: 90%;
        outline: none;
        background-color: #fff;
        border-color: #624cd5;
        font-size: 15px;
    }
  
    form input[type]{
        color: #624cd5;
    }
    button{
        color: #ffffff;
        margin: auto;
        text-align: center;
        padding: 10px;
        font-size: 15px;
        width: 35%;
        border-radius: 10px;
        background-color: #624cd5;
        outline: none;
        transition: all .3s;
    }
    button:hover{
        background-color: #ea9c14;
        outline: none;
    }
    .fa {
      padding: 30px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      margin: 10px 10px;
      border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-google {
      background: #dd4b39;
      color: white;
    }
    
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    lottie-player{
      height: auto;
      width: 200px;
      margin: auto;
    }
  }
  /* ----------- PIxel ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 411px) 
and (max-device-width: 731px)
and (-webkit-min-device-pixel-ratio: 2) {
  .container{
    margin: 10px;
  }
h1{
    color: #624cd5;
    font-weight: 600;
    text-align: center;
    font-size: 28px;
}
.col-md-2 #p1{
    font-size: 20px;
    text-align: justify;
}
.row{
    display: block;
}

  .col-md-2{
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: block;
    clear: both;
  }
  .col-md-1{
    display: block;
  }
  .col-md-2{
    display: block;
  }
  .col-md-2 a{
    text-decoration: none;
    transition: all .4s;
  }
  .col-md-2 p{
    text-decoration: none;
    transition: all .4s;
  }
  .col-md-2 p:hover{
    text-decoration: none;
    transition: all .4s;
    
  }
  .col-md-2 a:hover{
    text-decoration: none;
    transition: all .4s;
  }
  form input{
      display: block;
      padding: 5px;
      border-radius: 5px;
      transition: all 0.5s;
      width: 90%;
      outline: none;
      background-color: #fff;
      border-color: #624cd5;
      font-size: 15px;
  }

  form input[type]{
      color: #624cd5;
  }
  button{
      color: #ffffff;
      margin: auto;
      text-align: center;
      padding: 10px;
      font-size: 15px;
      width: 35%;
      border-radius: 10px;
      background-color: #624cd5;
      outline: none;
      transition: all .3s;
  }
  button:hover{
      background-color: #ea9c14;
      outline: none;
  }
  .fa {
    padding: 30px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  lottie-player{
    height: auto;
    width: 200px;
    margin: auto;
  }
}
  /* ----------- PIxel 2----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 411px) 
and (max-device-width: 823px)
and (-webkit-min-device-pixel-ratio: 2) {
  .container{
    margin: 10px;
  }
h1{
    color: #624cd5;
    font-weight: 600;
    text-align: center;
    font-size: 28px;
}
.col-md-2 #p1{
    font-size: 20px;
    text-align: justify;
}
.row{
    display: block;
    height: 800px;
}

  .col-md-2{
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: block;
    clear: both;
  }
  .col-md-1{
    display: block;
  }
  .col-md-2{
    display: block;
  }
  .col-md-2 a{
    text-decoration: none;
    transition: all .4s;
  }
  .col-md-2 p{
    text-decoration: none;
    transition: all .4s;
  }
  .col-md-2 p:hover{
    text-decoration: none;
    transition: all .4s;
    
  }
  .col-md-2 a:hover{
    text-decoration: none;
    transition: all .4s;
  }
  form input{
      display: block;
      padding: 5px;
      border-radius: 5px;
      transition: all 0.5s;
      width: 80%;
      outline: none;
      background-color: #fff;
      border-color: #624cd5;
      font-size: 15px;
  }

  form input[type]{
      color: #624cd5;
  }
  button{
      color: #ffffff;
      margin: auto;
      text-align: center;
      padding: 10px;
      font-size: 15px;
      width: 35%;
      border-radius: 10px;
      background-color: #624cd5;
      outline: none;
      transition: all .3s;
  }
  button:hover{
      background-color: #ea9c14;
      outline: none;
  }
  .fa {
    padding: 30px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  lottie-player{
    height: auto;
    width: 250px;
    margin: auto;
  }
}
  /* ----------- Galaxy A series----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 271px) 
and (max-device-width: 760px)
and (-webkit-min-device-pixel-ratio: 2) {
  .container{
    margin: 10px;
  }
h1{
    color: #624cd5;
    font-weight: 600;
    text-align: center;
    font-size: 28px;
}
.col-md-2 #p1{
    font-size: 20px;
    text-align: justify;
}
.row{
    display: block;
}

  .col-md-2{
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: block;
    clear: both;
  }
  .col-md-1{
    display: block;
  }
  .col-md-2{
    display: block;
  }
  .col-md-2 a{
    text-decoration: none;
    transition: all .4s;
  }
  .col-md-2 p{
    text-decoration: none;
    transition: all .4s;
  }
  .col-md-2 p:hover{
    text-decoration: none;
    transition: all .4s;
    
  }
  .col-md-2 a:hover{
    text-decoration: none;
    transition: all .4s;
  }
  form input{
      display: block;
      padding: 5px;
      border-radius: 5px;
      transition: all 0.5s;
      width: 90%;
      outline: none;
      background-color: #fff;
      border-color: #624cd5;
      font-size: 15px;
  }

  form input[type]{
      color: #624cd5;
  }
  button{
      color: #ffffff;
      margin: auto;
      text-align: center;
      padding: 5px;
      font-size: 15px;
      width: 50%;
      border-radius: 2px;
      background-color: #624cd5;
      outline: none;
      transition: all .3s;
  }
  button:hover{
      background-color: #ea9c14;
      outline: none;
  }
  .fa {
    padding: 30px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  lottie-player{
    height: auto;
    width: 150px;
    margin: auto;
  }
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-md-2 {width: 100%;}
}
